@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./7cHpv4kjgoGqM7EPCw.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./7cHqv4kjgoGqM7E3_-gc4A.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./7cHqv4kjgoGqM7E30-8c4A.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./7cHqv4kjgoGqM7E3t-4c4A.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./JTUSjIg69CK48gW7PXooxW4.ttf") format("truetype");
}
